* {
    margin: 0;
    padding: 0;
}
button {
    cursor: pointer;
}
h1 {
    font-family: 'Creepster', cursive;
    font-size: 6rem;
    font-style: normal;
    margin: 1rem 0;
    color: red;
    text-shadow: lightblue 3px 3px 3px;
}

#main-screen {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

#gameScreen {
    background-color: white;
    width: 80%;
    max-width: 1280px;
    aspect-ratio: 16/9;
    margin-bottom: 2rem;
}

.control-button {
    position: relative;
    border: 2px solid black;
    width: 100px;
    height: 60px;
    background-color: white;
    top: calc(50% - 30px);
    margin: 0 auto;
    display: block;
}

.text-box {
    border: 4px solid black;
    width: 80%;
    margin: 1rem auto;
    min-height: 100px;
}

.orientation-box {
    width: 150px;
    aspect-ratio: 1/1;
    /* border: 1px black solid; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        ". N ."
        "W C E"
        ". S .";
}
.map-box {
    width: 100px;
    aspect-ratio: 1/1;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
}
.map-box div {
    box-sizing: border-box;
    /* border: 1px solid red; */
    width: calc(100%/3); /*fix this with custom properties that are changed with JS!*/
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.current-room {
    background-color: black;
    color: white;
}
.adjacent-room {
    border: 1px dashed black;
}
.visited-room {
    border: 1px solid black;
}
#button-north {
    grid-area: N;
}
#button-east {
    grid-area: E;
}
#button-south {
    grid-area: S;
}
#button-west {
    grid-area: W;
}
.compassRose {
    grid-area: C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.container-button {
    width: 50px;
    aspect-ratio: 1/1;
}
